.contact-section {
    padding: 100px 0;
    background-color: #f4f7fa;
    scroll-margin-top: 80px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 60px;
    align-items: stretch; 
}

.contact-info-panel {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.contact-title {
    color: #0d234d;
    font-size: 2.8rem;
    font-weight: 800;
    margin: 15px 0;
    line-height: 1.1;
}
.contact-form-panel {
    background: #ffffff;
    padding: 45px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(13, 35, 77, 0.08);
    display: flex;
    flex-direction: column;
}

.nx-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
}

.form-group textarea {
    resize: none; 
    min-height: 130px;
    max-height: 130px;
    
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: inherit;
    outline: none;
}

.form-submit-btn {
    background: #0d234d;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    margin-top: auto;
}

.form-submit-btn:hover {
    background: #a3cf62;
    color: #0d234d;
}

@media (max-width: 992px) {
    .contact-grid { grid-template-columns: 1fr; }
}